#content {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    @media #{$small-and-down} {
        width: 100%;
        display: block;
        margin: -1rem auto 7px auto;
    }
    @media #{$medium-and-up} {
        width: 100%;
        display: block;
        margin: -1rem auto 7px auto;
    }
    @media #{$medium-and-down} {
        width: 100%;
        display: block;
        margin: -1rem auto 1% auto;
    }
    @media #{$large-and-up} {
        max-width: 60rem;
        display: block;
        margin: -1rem auto 1% auto;
    }
    @media #{$extra-large-and-up} {
        max-width: 60rem;
        display: block;
        margin: -1rem auto 0.5% auto;
    }
}

.random {
    @media #{$small-and-down} {
        display: block;
        margin: auto;
    }
    @media #{$medium-and-up} {
        // styles for medium screens and larger
    }
    @media #{$medium-and-down} {
        // styles for medium screens and down
    }
    @media #{$large-and-up} {
        // styles for large screens and up
    }
    @media #{$extra-large-and-up} {
        margin: $select-padding;
        // styles for extra large screens and up
    }
}

.search {
    @media #{$large-and-up} {
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        box-sizing: border-box;
        width: 83% !important;
    }
    @media #{$extra-large-and-up} {
        margin-left: auto;
        left: auto;
        right: auto;
        float: left;
        box-sizing: border-box;
        width: 83% !important;
    }
}
